openapi: 3.0.3
info:
  title: FAST GRAVAÇÕES v2 — Edge Functions
  version: "1.0.0"
  description: >-
    Contrato das 34 Deno Edge Functions do Supabase self-hosted.
    Detalhe de gatilhos (quem chama o quê): supabase/functions/REGISTRY.md.
    Todas respondem JSON e exigem POST, salvo indicado
    (technical-assistant responde stream SSE; pdf-generator retorna
    text/plain; excel-export retorna text/csv).
servers:
  - url: https://supabase.atomicabr.com.br
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        JWT de usuário Supabase (verify_jwt=true em todas, exceto csp-report).
        Várias functions rejeitam antes de chegar no handler quando o JWT falta.
    cronSecret:
      type: apiKey
      in: header
      name: x-cron-secret
      description: Segredo interno para crons/functions internas (requireCronSecret).
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Chave estática por function (ex.: ERP_API_KEY, BACKUP_API_KEY).
    webhookSignature:
      type: apiKey
      in: header
      name: x-webhook-signature
      description: HMAC-SHA256 do body com o segredo do webhook (ERP/Bitrix).
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
      required: [error]
  responses:
    BadRequest:
      description: Payload inválido (schema zod)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: JWT/segredo ausente ou inválido
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Rate limit excedido (rate_limits)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

paths:
  # ============ Auth / operadores ============
  /functions/v1/create-operator:
    post:
      summary: Cria operador + profile (admin)
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Operador criado }, '400': { $ref: '#/components/responses/BadRequest' }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/update-operator:
    post:
      summary: Atualiza dados/role de operador (admin)
      responses: { '200': { description: OK }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/approve-password-reset:
    post:
      summary: Aprova solicitação de reset de senha (coordenador+)
      responses: { '200': { description: OK }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/check-login-lockout:
    post:
      summary: Verifica lockout do login (fail-open se indisponível)
      responses: { '200': { description: '{ locked, retryAfter? }' }, '429': { $ref: '#/components/responses/RateLimited' } }
  /functions/v1/validate-login-ip:
    post:
      summary: Valida IP do login contra allowlist/geo (fail-open)
      responses: { '200': { description: '{ allowed, reason? }' } }
  /functions/v1/new-device-alert:
    post:
      summary: Notifica login em dispositivo novo (hook de login)
      responses: { '200': { description: OK } }
  /functions/v1/rate-limit-check:
    post:
      summary: Consulta/incrementa bucket de rate limit genérico
      responses: { '200': { description: '{ allowed, remaining }' } }

  # ============ Produção ============
  /functions/v1/auto-promote-jobs:
    post:
      summary: Promove jobs planejados para produção (cron versionado + fallback)
      security: [{ bearerAuth: [] }, { cronSecret: [] }]
      responses: { '200': { description: Resumo de promoções } }
  /functions/v1/calculate-rankings:
    post:
      summary: Recalcula rankings de gamificação do período
      responses: { '200': { description: OK } }
  /functions/v1/ml-predictions:
    post:
      summary: Predições ML (atraso, quebra) para jobs/máquinas
      responses: { '200': { description: Predições } }
  /functions/v1/technical-assistant:
    post:
      summary: Assistente técnico (RAG sobre knowledge base)
      responses:
        '200':
          description: >-
            Stream SSE (`Content-Type: text/event-stream`) — a function faz
            proxy do stream upstream; NÃO é JSON. Clientes devem consumir
            eventos SSE e concatenar os deltas de texto.
        '429': { $ref: '#/components/responses/RateLimited' }

  # ============ Integrações ============
  # Paths declarados literais (sem segmento-variável) porque o roteador do
  # erp-api faz split por `/` — um {resource} único serializaria 'jobs/123'
  # como 'jobs%2F123' e clientes gerados não alcançariam a rota real.
  /functions/v1/erp-api/jobs:
    get:
      summary: Lista jobs do ERP
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Jobs (schema contracts.ts) }, '401': { $ref: '#/components/responses/Unauthorized' } }
    post:
      summary: Cria job
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Criado }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/erp-api/jobs/{id}:
    get:
      summary: Detalhe do job
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Job }, '401': { $ref: '#/components/responses/Unauthorized' } }
    patch:
      summary: Atualiza job
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Atualizado }, '401': { $ref: '#/components/responses/Unauthorized' } }
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
  /functions/v1/erp-api/machines:
    get:
      summary: Lista máquinas
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Máquinas }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/erp-api/operators:
    get:
      summary: Lista operadores
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Operadores }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/erp-api/production/summary:
    get:
      summary: Resumo de produção
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Resumo }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/erp-api/lots:
    get:
      summary: Lista lotes
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Lotes }, '401': { $ref: '#/components/responses/Unauthorized' } }
    post:
      summary: Cria lote
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Criado }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/erp-api/lots/{id}:
    get:
      summary: Detalhe do lote
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: Lote }, '401': { $ref: '#/components/responses/Unauthorized' } }
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
  /functions/v1/erp-api/kpis:
    get:
      summary: KPIs de produção
      security: [{ bearerAuth: [] }, { apiKey: [] }]
      responses: { '200': { description: KPIs }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/webhook-handler:
    post:
      summary: >-
        Webhooks ERP (cria/atualiza jobs via HMAC). verify_jwt=true no
        gateway: o chamador precisa de Bearer JWT (ex.: anon key do projeto)
        ALÉM do x-webhook-signature, senão 401 antes do handler.
      security: [{ bearerAuth: [], webhookSignature: [] }]
      responses: { '200': { description: OK }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/bitrix24-sync:
    get:
      summary: >-
        OAuth callback do Bitrix24 — o fluxo de autorização redireciona o
        browser para `?action=oauth-callback&code=...&state=...` via GET.
        verify_jwt=true no gateway: o redirect também precisa de JWT válido.
      parameters:
        - in: query
          name: action
          required: true
          schema: { type: string, enum: [oauth-callback] }
        - in: query
          name: code
          schema: { type: string }
        - in: query
          name: state
          schema: { type: string }
      responses: { '302': { description: Redirect pós-autorização }, '401': { $ref: '#/components/responses/Unauthorized' } }
    post:
      summary: >-
        Sincronização Bitrix24 — despacha pelo query param obrigatório
        `?action=`. verify_jwt=true no gateway: TODA chamada precisa de
        Bearer JWT válido (ex.: anon key) só para chegar ao handler.
        Autorização por action: `push` exige usuário autenticado (não
        x-cron-secret), `webhook` passa por DUAS checagens —
        `x-bitrix-webhook-secret` ou `?token=` igual a
        BITRIX24_WEBHOOK_SECRET, E `x-webhook-secret` ou `?token=` igual a
        BITRIX24_WEBHOOK_TOKEN (se os valores forem iguais, um único
        `?token=` satisfaz as duas), demais ações exigem JWT com papel
        coordinator/manager/admin. Chamada sem action retorna
        'Invalid action'.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: action
          required: true
          schema: { type: string }
          description: push | webhook | ações de gestão (ver function); oauth-callback é GET
        - in: header
          name: x-bitrix-webhook-secret
          required: false
          schema: { type: string }
          description: BITRIX24_WEBHOOK_SECRET — 1ª checagem de action=webhook
        - in: header
          name: x-webhook-secret
          required: false
          schema: { type: string }
          description: BITRIX24_WEBHOOK_TOKEN — 2ª checagem de action=webhook
      responses: { '200': { description: OK }, '400': { description: Invalid action } }
  /functions/v1/external-db-bridge:
    post:
      summary: Ponte para banco externo (órfã — ver REGISTRY.md)
      responses: { '200': { description: OK } }

  # ============ Manutenção / TPM ============
  /functions/v1/daily-maintenance-summary:
    post:
      summary: Resumo diário de manutenção (cron)
      security: [{ cronSecret: [] }]
      responses: { '200': { description: OK } }
  /functions/v1/tpm-notifications:
    post:
      summary: Notificações de manutenção TPM
      responses: { '200': { description: OK } }
  /functions/v1/send-tpm-email:
    post:
      summary: E-mail de alerta TPM (db webhook em maintenance_alerts)
      responses: { '200': { description: OK } }
  /functions/v1/send-loss-risk-alert:
    post:
      summary: Alerta de risco de perda (db webhook em tpm_execution_alerts)
      responses: { '200': { description: OK } }

  # ============ Notificações ============
  /functions/v1/send-push-notification:
    post:
      summary: Push web (VAPID) para subscriptions
      responses: { '200': { description: '{ sent, failed }' } }
  /functions/v1/cron-alert-email:
    post:
      summary: E-mails agendados de alertas (cron no painel)
      security: [{ cronSecret: [] }]
      responses: { '200': { description: OK } }
  /functions/v1/send-email-report:
    post:
      summary: Relatório por e-mail
      responses: { '200': { description: OK } }
  /functions/v1/security-alert:
    post:
      summary: Alerta de evento de segurança
      responses: { '200': { description: OK } }

  # ============ Relatórios / export ============
  /functions/v1/pdf-generator:
    post:
      summary: >-
        Relatório server-side — apesar do nome, retorna `text/plain` UTF-8
        (header `X-Report-Format: text`, download `.txt`). Não gera PDF
        binário hoje.
      responses: { '200': { description: text/plain (.txt, X-Report-Format: text) } }
  /functions/v1/excel-export:
    post:
      summary: >-
        Export de dados — retorna `text/csv` com attachment `.csv`
        (não gera XLSX; o nome "excel" é histórico). Export no front
        usa a lib local.
      responses: { '200': { description: text/csv (.csv) } }
  /functions/v1/image-optimizer:
    post:
      summary: STUB — retorna 501 JSON em toda chamada (não implementado)
      responses: { '501': { description: Não implementado } }
  /functions/v1/calculate-inventory-intelligence:
    post:
      summary: >-
        Métricas de estoque — só atualiza `daily_usage_avg` a partir de 30d
        de saídas; a resposta traz contagem processada + acurácia simulada.
        NÃO calcula dias de suprimento nem lê estoque atual.
      responses: { '200': { description: '{ processed, accuracy(simulada) }' } }

  # ============ Infra / housekeeping ============
  /functions/v1/health-check:
    get:
      summary: Health check da function layer
      responses: { '200': { description: '{ status: ok }' } }
  /functions/v1/health-monitor:
    post:
      summary: Monitor agendado de saúde (pg_cron)
      security: [{ cronSecret: [] }]
      responses: { '200': { description: OK } }
  /functions/v1/metrics-collector:
    post:
      summary: Coleta métricas operacionais (cron)
      security: [{ cronSecret: [] }]
      responses: { '200': { description: OK } }
  /functions/v1/cron-cleanup:
    post:
      summary: Purge/arquivação de jobs antigos
      security: [{ cronSecret: [] }]
      responses: { '200': { description: '{ purged }' } }
  /functions/v1/cleanup-security-logs:
    post:
      summary: >-
        Retenção de logs de segurança. Exige DUAS credenciais juntas:
        `x-cron-secret` (requireCronSecret, fail-closed) E `x-api-key`
        igual a `CRON_API_KEY` (ou Bearer com o mesmo valor). Só
        x-cron-secret retorna 401.
      security: [{ cronSecret: [], apiKey: [] }]
      responses: { '200': { description: OK }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/backup-scheduler:
    post:
      summary: >-
        Orquestra backup agendado (ver RUNBOOK — sem evidência de agendamento
        ativo). Credenciais exigidas juntas: Bearer JWT do gateway
        (verify_jwt=true) + `x-cron-secret` (requireCronSecret) + `x-api-key`
        igual a `BACKUP_API_KEY` (ou Bearer com o mesmo valor).
      security: [{ bearerAuth: [], cronSecret: [], apiKey: [] }]
      responses: { '200': { description: OK }, '401': { $ref: '#/components/responses/Unauthorized' } }
  /functions/v1/csp-report:
    post:
      summary: Recebe relatórios CSP report-uri (única function pública — verify_jwt=false; implementada no PR #82)
      security: []
      responses: { '204': { description: Persistido em csp_violation_reports }, '413': { description: '>16KB' }, '429': { $ref: '#/components/responses/RateLimited' } }
